*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    position: relative;
    padding: 40px;
}
.content{
    width:60%;
}
.form{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.comment-field{
    display: flex;
    align-items: flex-start;
}
.Navigation-bar{
    position:absolute;
    top: 50px;
    width:100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
