*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-size: 20px;
}
.wrapper{
    /* padding: 10px 50px; */
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    align-items: center;

}
.top{
    height: 13%;
    width:100%;
    background-color: aquamarine;
}
.bottom{
    height: 80%;
    width:80%;
    background-color: rgb(5, 210, 141);
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
}
.footer{
    height: 7%;
    width:100%;
    background-color: gray;
}

.item{
    width:100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    background-color: aqua;
}
.img{
    /* display: block; */
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    
}
.item-name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: large;
    text-transform: capitalize;
    
}